In [1]:
import pandas as pd
import numpy as np
import os

# Tarea 1
El objetivo de esta actividad es continuar familiarizándonos con el entorno Python. Para ello, crea un programa que automáticamente:

	1. Lee el fichero proporcionado.
	2. Cuenta el número de líneas del fichero.
	3. Cuenta el número de veces que aparece el artículo «el» en el fichero (nota: elemento contiene los caracteres «el» pero no debe contar puesto que no contiene a el artículo «el».
	4. Elimina las tildes del fichero y convierta todas las letras a minúscula.
	5. Crea un fichero de texto con el nombre «resultado.txt» que contendrá en la primera línea el número de líneas del fichero, en la segunda línea el número de veces que aparece el artículo «el», y a partir de la tercera línea el texto original todo en minúsculas y sin tilde.

In [2]:
# Read the complete file
with open('./FicheroALeer.txt', 'r', encoding = "ISO-8859-1") as f:
    text = f.read()

# convert the text to lower case
text = str.lower(text)

In [3]:
# Extract all new line symbols indices
nlines = []
for i, c in enumerate(text):
    if c == '\n':
        nlines.append(i)
        
# Print number of new lines
print(f'Number of lines = {len(nlines)}')

Number of lines = 100

In [4]:
# Find all accurances of 'el'
els = []
cpos = text.find('el ', 0)
while(cpos > 0):
    els.append(cpos)
    cpos = text.find('el ', cpos+1)
    
print(f'Number of uses of the article \'el\' = {len(els)}')

Number of uses of the article 'el' = 39

In [5]:
# Translate acións to normal letters
simple_text = text.translate(str.maketrans('áéóíúñ', 'aeoiun'))

In [6]:
# Write the results to a file
with open('./resultado.txt', 'w') as f:
    f.write(f'{len(nlines)}\n{len(els)}\n{simple_text}')

# Tarea 2
* Carga en el entorno el «poblacionMunicipios.csv» proporcionado por el profesor respetando las tildes y caracteres españoles.
* Elimina las filas correspondientes a municipios sin población.
* Imprime el total de la población de todos los municipios.
* Crea un DataFrame de Pandas donde la primera columna sean todas las provincias que aparecen en el archivo, la segunda columna el número total de habitantes por provincia, la tercera la desviación típica en el número total de habitantes por provincia y la cuarta el número total de municipios por provincia.

In [7]:
pm = pd.read_csv('./poblacionMunicipios.csv')
pm.head()

   CodProvincia    Provincia  CodMunicipio         Municipio  Poblacion
0             1  Araba/Álava             1  Alegría-Dulantzi       2869
1             1  Araba/Álava             2           Amurrio      10114
2             1  Araba/Álava             3           Aramaio       1513
3             1  Araba/Álava             4        Artziniega       1861
4             1  Araba/Álava             6           Armiñón        231

In [8]:
# Filter empty regions
pm2 = pm[pm['Poblacion'] > 0]

# Aggregate the population size per municipio
muni_pop = pm2[['Municipio', 'Poblacion']].groupby('Municipio').sum()
muni_pop.head()

           Poblacion
Municipio
Ababuj            73
Abades           882
Abadiño         7385
Abadía           330
Abadín          2760

In [9]:
pm2['Municipio'].unique()

array(['Alegría-Dulantzi', 'Amurrio', 'Aramaio', ...,
       'Villamayor de Gállego', 'Ceuta', 'Melilla'], dtype=object)

In [10]:
# Crea un DataFrame de Pandas donde la primera columna sean todas las provincias que aparecen en el archivo,
# la segunda columna el número total de habitantes por provincia, la tercera la desviación típica en el número
# total de habitantes por provincia y la cuarta el número total de municipios por provincia.

# Aggregate and analyze by province
pm_analysis = pm2.groupby('Provincia').agg({'Poblacion':['sum', 'std'], 'Municipio': lambda x: len(x.unique())})
pm_analysis.head(10)

                 Poblacion               Municipio
                       sum           std  <lambda>
Provincia
Albacete            402837  18969.349858        87
Alicante/Alacant   1943910  36975.788257       141
Almería             704219  22487.718633       102
Araba/Álava         322557  33817.226014        51
Asturias           1077360  41147.126270        78
Badajoz             694533  13342.124838       164
Balears, Illes     1119439  49996.304259        67
Barcelona          5552050  96056.918824       311
Bizkaia            1158439  35707.908497       112
Burgos              374970   9698.775957       371

# Tarea 3
	• Carga el archivo «CP_Municipios.csv».
	• Empleando el código de provincia y el código de municipio, cruza los dos datasets comentados hasta el momento. El resultado final debe ser un DataFrame.
	• Genera un CSV llamado «faltan.csv» con todos los códigos postales que estén en «CP_Municipios.csv» pero que no tengan en «poblacionMunicipios.csv» ningún municipio con el que poder cruzar. Si todo cruza correctamente el archivo «faltan.csv» estará vacío. Se puede decir que «faltan.csv» son los códigos postales que se han perdido en el cruce a la hora de considerar la población.
	• Agrupa la información por código postal. Se quiere un DataFrame con las siguientes columnas: 
		○ Código postal.
		○ Número de municipios que tienen dicho código postal asignado.
		○ Población: se calculará como la suma de la población de todos los municipios que incluyen a dicho código postal.
		○ Provincia: a la que está asignada el código postal.

In [11]:
# • Carga el archivo «CP_Municipios.csv».
cp = pd.read_csv('./CP_Municipios.csv')
cp.head()

   CodProvincia  CodMunicipio    CP         Municipio
0             1             1  1240  Alegría-Dulantzi
1             1             1  1193  Alegría-Dulantzi
2             1             2  1450           Amurrio
3             1             2  1468           Amurrio
4             1             2  1470           Amurrio

In [12]:
# • Empleando el código de provincia y el código de municipio, cruza los dos datasets comentados hasta el momento. El resultado final debe ser un DataFrame.
complete = pd.merge(pm2, cp, on=['CodProvincia', 'CodMunicipio', 'Municipio'])
complete.head(20)

    CodProvincia    Provincia  CodMunicipio         Municipio  Poblacion    CP
0              1  Araba/Álava             1  Alegría-Dulantzi       2869  1240
1              1  Araba/Álava             1  Alegría-Dulantzi       2869  1193
2              1  Araba/Álava             2           Amurrio      10114  1450
3              1  Araba/Álava             2           Amurrio      10114  1468
4              1  Araba/Álava             2           Amurrio      10114  1470
5              1  Araba/Álava             3           Aramaio       1513  1160
6              1  Araba/Álava             3           Aramaio       1513  1165
7              1  Araba/Álava             3           Aramaio       1513  1169
8              1  Araba/Álava             4        Artziniega       1861  1474
9              1  Araba/Álava             4        Artziniega       1861  1478
10             1  Araba/Álava             6           Armiñón        231  1211
11             1  Araba/Álava             6           Armiñón        231  1220
12             1  Araba/Álava             9         Asparrena       1698  1250
13             1  Araba/Álava             9         Asparrena       1698  1260
14             1  Araba/Álava             9         Asparrena       1698  1208
15             1  Araba/Álava            10       Ayala/Aiara       2918  1408
16             1  Araba/Álava            10       Ayala/Aiara       2918  1470
17             1  Araba/Álava            10       Ayala/Aiara       2918  1476
18             1  Araba/Álava            10       Ayala/Aiara       2918  1477
19             1  Araba/Álava            10       Ayala/Aiara       2918  1478

In [13]:
# • Genera un CSV llamado «faltan.csv» con todos los códigos postales que estén en «CP_Municipios.csv» pero
# que no tengan en «poblacionMunicipios.csv» ningún municipio con el que poder cruzar.
# Si todo cruza correctamente el archivo «faltan.csv» estará vacío. Se puede decir que «faltan.csv» son los
# códigos postales que se han perdido en el cruce a la hora de considerar la población.
faltan = set(cp['CP'].drop_duplicates().values) - set(complete['CP'].drop_duplicates().values)
faltan_df = pd.DataFrame(data={'CP': list(faltan)})
faltan_df.to_csv('./faltan.csv', index=False)
faltan_df.head(10)

      CP
0   7198
1   7199
2   7071
3  20001
4  20002
5  20003
6  20004
7  20005
8  20006
9  20007

In [25]:
# Agrupa la información por código postal. Se quiere un DataFrame con las siguientes columnas: 
#    ○ Código postal.
#    ○ Número de municipios que tienen dicho código postal asignado.
#    ○ Población: se calculará como la suma de la población de todos los municipios que incluyen a dicho código postal.
#    ○ Provincia: a la que está asignada el código postal.
        
cp_analysis = complete.groupby('CP').agg({'Municipio': lambda x: len(x.unique()), 'Poblacion': 'sum', 'Provincia': 'first'})
cp_analysis.reset_index(inplace=True)
cp_analysis.head(20)

      CP  Municipio  Poblacion    Provincia
0    548          1       5233        Ávila
1   1001          1     242223  Araba/Álava
2   1002          1     242223  Araba/Álava
3   1003          1     242223  Araba/Álava
4   1004          1     242223  Araba/Álava
5   1005          1     242223  Araba/Álava
6   1006          1     242223  Araba/Álava
7   1007          1     242223  Araba/Álava
8   1008          1     242223  Araba/Álava
9   1009          1     242223  Araba/Álava
10  1010          1     242223  Araba/Álava
11  1012          2     243731  Araba/Álava
12  1013          1     242223  Araba/Álava
13  1015          1     242223  Araba/Álava
14  1110          1       1136  Araba/Álava
15  1117          2       1414  Araba/Álava
16  1118          3       2213  Araba/Álava
17  1120          1        739  Araba/Álava
18  1128          3       2443  Araba/Álava
19  1129          1        739  Araba/Álava